@{
    ViewData["Title"] = "Home Page";
    var postedAnswers = (List<PostedAnswer>)ViewData["PostedAnswers"];
    var postedAnswers2 = (List<PostedAnswer>)ViewData["PostedAnswers2"];
}


<div class="feed-post panel panel-default">
    <div class="post-status">
        <div class="post-status-name">Available</div>
            <div class="post-status-time">1:41 PM</div>
        <div class="post-status-floor">10th Floor</div>
    </div>
    <div class="post-message panel-body">
        <div class="post-name">Alex Smith</div>
        <div class="post-message-text">Cheese from my visit to Hamburg in the 10th floor Kitchen. No nuts, just cheese for days.</div>
        <div class="post-confirmed">Confirmed: 7 min ago</div>
    </div>
    <div class="post-buttons">
        <button type="button" class="post-confirm-button btn btn-success">Confirmed</button> 
        <br />
        <button type="button" class="post-unavailable-button btn btn-danger">Ran out</button>
    </div>
</div>

<br />
<div>
	Food Voting
</div>

<div>
	Calendar
    <img src="https://confluence/download/attachments/86705821/image2016-1-7%2016%3A4%3A58.png?version=1&modificationDate=1452200698035&api=v2" width="400" height="200">
</div>

<div>
	<h1>Ask a Question</h1>
    <p>Submit any food-related questions or suggestions here. Dale and Bonnie will post responses below.</p>
	<textarea class="submit-question-text" type="text"></textarea>
	<button type="button" class="submit-question-button btn btn-danger">Primary</button>
</div>

<div>
    <h1>Responses from Dale and Bonnie</h1>
    @foreach (var answer in postedAnswers)
    {
        <div style="border:3px; border-style:solid; border-color:#FF0000; padding: 1em;">
            <blockquote>Original question: @answer.Question.QuestionText</blockquote>
        <p >@*@answer.Question*@ <strong>@answer.AuthorName</strong> <em>(@answer.DateSubmitted)</em> @answer.Message</p>
            </div>
            <p></p>
    }
    <h1>Responses from Dale and Bonnie2</h1>
    @foreach (var answer in postedAnswers)
    {

            <div class="panel panel-default">
                <div class="panel-heading">@answer.Question.QuestionText</div>
                <div class="panel-body">
                    @answer.AuthorName (@answer.DateSubmitted) @answer.Message
                </div>
            </div>
    }
    <nav>
        <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </nav>
</div>