@using HNGRY.ViewModels
@{
    var _model = (FeedEntriesViewModel)this.Model;
}

<div class="feed-submission">
    <div class="form-inline">
        <div class="form-group food-submit-title">Report food:</div>
        <div class="form-group">
            <label for="sel1" class="food-submit-label">Location: </label>
            <select class="submit-food-location" id="sel1">
                <option>9th Floor</option>
                <option>10th Floor</option>
                <option>11th Floor</option>
                <option>Other</option>
            </select>
        </div>
        <div class="message-box form-group">
            <label for="msg" class="food-submit-label">Message: </label>
            <input type="text" class="form-control submit-food-message" id="msg">
        </div>
        <button type="submit" class="submit-food btn btn-primary ">Report food</button>
        </div>
</div>


@*@feedEntry.AuthorName (@answer.DateSubmittedDisplayString)*@
@foreach (var feedEntry in _model.FeedEntries)
{
    var isAvailable = feedEntry.Status == true;
    <div class="feed-post @(isAvailable ? string.Empty : "feed-post-inactive")" >
        <div class="post-status @(isAvailable ? "post-status-available" : "post-status-unavailable")">
            <div class="post-status-name">@(isAvailable ? "Available" : "Unavailable")</div>
            <div class="post-status-time">@feedEntry.DateSubmittedDisplayString</div>
            <div class="post-status-floor">@feedEntry.Location</div>
        </div>
        <div class="post-message @(isAvailable ? string.Empty : "post-message-unavailable")">
            <div class="post-name">@(string.IsNullOrEmpty(feedEntry.AuthorName) ? "Anonymous" : feedEntry.AuthorName)</div>
            <div class="post-message-text">
                @feedEntry.Message
            </div>
        </div>
        <div class="post-message post-confirmed">@(isAvailable ? "Confirmed:" : "Ran out: ") @feedEntry.TimeSinceConfirm minutes ago</div>
        <div class="post-buttons">
            <button type="button" data-feed-id="@feedEntry.Id" class="post-undelete-button btn btn-default @(isAvailable ? "hidden" : string.Empty)">Available again</button>
            <button type="button" data-feed-id="@feedEntry.Id" class="post-confirm-button btn btn-primary @(isAvailable ? string.Empty : "hidden")">Still available</button>
            <br />
            <button type="button" data-feed-id="@feedEntry.Id" class="post-unavailable-button btn btn-default @(isAvailable ? string.Empty : "hidden")">Ran out</button>
        </div>
    </div>
    
}
