@using HNGRY.ViewModels
@{
    var _model = (FeedEntriesViewModel)this.Model;
}

<div class="feed-submission">
    <div class="form-inline">
        <div class="form-group">
            <label for="sel1">Location: </label>
            <select class="submit-food-location" id="sel1">
                <option>9th Floor</option>
                <option>10th Floor</option>
                <option>11th Floor</option>
                <option>Other</option>
            </select>
        </div>
        <div class="message-box form-group">
            <label for="msg">Message: </label>
            <input type="text" class="form-control submit-food-message" id="msg">
        </div>
        <button type="submit" class="submit-food btn btn-primary ">Report food</button>
        </div>
</div>


@*@FeedEntry.AuthorName (@answer.DateSubmittedDisplayString)*@
@foreach (var FeedEntry in _model.FeedEntries)
{
    @if (FeedEntry.Status == true)
    {
        <div class="feed-post">
            <div class="post-status post-status-available">
                <div class="post-status-name">Available</div>
                <div class="post-status-time">@FeedEntry.DateSubmittedDisplayString</div>
                <div class="post-status-floor">@FeedEntry.Location</div>
            </div>
            <div class="post-message">
                <div class="post-name">@FeedEntry.AuthorName</div>
                <div class="post-message-text">
                    @FeedEntry.Message
                </div>
                <div class="post-confirmed">Confirmed: @FeedEntry.TimeSinceConfirm minutes ago</div>
            </div>
            <div class="post-buttons">
                <button type="button" class="post-confirm-button btn btn-success">Still available</button>
                <br />
                <button type="button" class="post-unavailable-button btn btn-danger">Ran out</button>
            </div>
        </div>
    }
    @if (FeedEntry.Status == false)
    {
        <div class="feed-post-inactive">
            <div class="post-status post-status-unavailable">
                <div class="post-status-name">Unavailable</div>
                <div class="post-status-time">@FeedEntry.DateSubmittedDisplayString</div>
                <div class="post-status-floor">@FeedEntry.Location</div>
            </div>
            <div class="post-message post-message-unavailable">
                <div class="post-name">@FeedEntry.AuthorName</div>
                <div class="post-message-text">
                    @FeedEntry.Message
                </div>
                <div class="post-confirmed">Ran out: @FeedEntry.TimeSinceConfirm minutes ago</div>
            </div>
            <div class="post-buttons ">
                <button type="button" class="post-undelete-button btn btn-success">Available again</button>
            </div>
        </div>
    }
}
