<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] HNGRY</title>

	    <environment names="Development">
			<link rel="stylesheet" href="~/css/app.css" />
		    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
	    </environment>
	    <environment names="Staging,Production">
			<link rel="stylesheet" href="~/css/app.css" />
		    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
		          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
		          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
	    </environment>
	    <link rel="stylesheet" href="~/lib/bootswatch-dist/css/bootstrap.css"/>

	    @RenderSection("styles", required: false)
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Navigation" asp-action="Index" class="navbar-brand">HNGRY</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Navigation" asp-action="About">About</a></li>
                    </ul>
	                <ul class="nav navbar-nav navbar-right">
		                <li>
			                <a href="#" data-toggle="dropdown" id="dropdownMenu2" aria-haspopup="true" aria-expanded="true">
				                @User.Identity.Name
								<span class="caret"></span>
			                </a>
			                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
				                <li><a a asp-controller="Navigation" asp-action="Subscribe">Subscribe</a></li>
				                @* TODO: Do not hard-code this in the future*@
								@if (this.User.Identity.Name == @"APT\SWalsh")
								{
									<li><a asp-controller="Navigation" asp-action="ResponseForm">Response Form</a></li>
								}
								else
								{
									<li class="disabled"><a href="#">Response Form</a></li>
								}
			                </ul>
		                </li>
	                </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2016 - HNGRY</p>
            </footer>
        </div>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
</html>
